// colors
$grey: #b2b1b1;
$blue: rgb(88, 181, 253);
$white: #ffffff;
$black: #000000;
$light-grey: #eeeeee;
$light-blue: rgb(224, 242, 255);
$transparent-black: rgba(0, 0, 0, 0.781);
$red: rgb(248, 95, 95);
$green: rgb(0, 163, 0);
